@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap');



* {
  box-sizing: content-box;

}

.tweet {
  width: 90%;
  min-height: 10vh;
  height: auto;
  background: rgb(63, 63, 63);
  margin: auto;
  padding: 0.5vw;
  border-radius: 0.5vw;
  position: relative;
  margin-top: 1vw;
  color: white;
}

.tweet .Tweet_time {
  position: absolute;
  bottom: 1vw;
  right: 1vw;
  margin: 0;
  font-size: 0.7vw;
  color: grey;
}

.tweet .Tweet_time~p {
  color: rgba(255, 255, 255, 0.6);
}

.tweet article {
  display: flex;
  position: absolute;
  top: 0.5vw;
  right: 0.5vw;
}

.tweet>img {
  width: 10vw;
  height: auto;
  margin-top: 0.5vw;
  margin-inline: auto;
}

.tweet>div {
  display: flex;

}

.tweet .checkMark {
  width: 1.3vw;
  height: auto;
  padding-left: 0.5vw;
}

.error_p {
  color: red;
  display: none;
}


.verificationSection {
  padding: 1vw;
  margin-top: 1vw;
  border-radius: 1vw;
  background-color: rgb(168 85 247 / 0.25);
}

.verificationSection>div {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.verificationSection img {
  height: 5vw;
  width: auto;
  cursor: pointer;
  border-radius: 100%;
}