@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap');



* {
  box-sizing: content-box;

}

.tweet {
  width: 37vw;
  min-height: 10vh;
  height: auto;
  background: rgb(63, 63, 63);
  margin: auto;
  padding: 0.5vw;
  border-radius: 0.5vw;
  position: relative;
  margin: 1vw;
  color: white;
}

.tweet .Tweet_time {
  position: absolute;
  bottom: 1vw;
  right: 1vw;
  margin: 0;
  font-size: 0.7vw;
  color: grey;
}

.tweet .Tweet_time~p {
  color: rgba(255, 255, 255, 0.6);
}

.tweet article {
  display: flex;
  position: absolute;
  top: 0.5vw;
  right: 0.5vw;
}

.tweet img {
  width: 10vw;
  height: auto;
  margin-top: 0.5vw;
  margin-inline: auto;
}

.error_p {
  color: red;
  display: none;
}