% if user_id == "admin1" :
% include("header" , page_title=" - Home" , admin_link ="yes")
% else :
% include("header" , page_title=" - Home" , admin_link ="no")
% end




<main class="text-white h-[90vh] w-5/12 mx-auto bg-black relative  ">
  <h1 class="absolute left-[-20vw] top-[2vw] text-[3vw] z-10">
    Welcom To Fake Twitter
  </h1>
  <div class="h-[10vh]"></div>
  <div class=" overflow-y-scroll h-[80vh]">
    % for tweet in tweets:
    % if not tweet["image"] :
    <section class="tweet">
      <p>@{{tweet["user_name"]}}</p>
      <p class="Tweet_time">{{tweet["iat"]}}</p>
      <p>{{tweet["description"]}} </p>

    </section>

    % else :
    <section class="tweet">
      <p>@{{tweet["user_name"]}}</p>
      <p class="Tweet_time">{{tweet["iat"]}}</p>
      <p>{{tweet["description"]}} </p>
      <img src="/image/{{tweet['image']}}" alt="">
    </section>
    % end
    % end
  </div>
</main>
% include("footer")