% include("header" , page_title=" - Login")

<main class="text-white h-[85vh] w-5/12 mx-auto bg-black relative pt-[5vw]">
  <h1 class="text-[2vw] absolute left-2 top-2">
    Login
  </h1>
  <div>
    <form class="grid mx-auto h-[40vh] w-5/6">

      <div>
        % if error == "user_email":
        <h1>
          Please enter a valid email
        </h1>
        % end
        <label for="user_email">Email</label>
        <input type="text" name="user_email" placeholder="email" value="{{get('user_email', '')}}">
      </div>


      <div>
        % if error == "user_password":
        <h1>
          Please enter a valid password
        </h1>
        % end
        <label for="user_password">Password</label>
        <input type="text" name="user_password" placeholder="password">
      </div>
      <button>Login</button>
    </form>
  </div>
</main>
% include("footer")