% if user_id == "admin1" :
% include("header" , page_title=" - Home" , admin_link ="yes")
% else :
% include("header" , page_title=" - Home" , admin_link ="no")
% end

<main class=" h-[90vh] w-5/12 mx-auto bg-black relative pt-[5vw]">
  <h1 class="text-[2vw] absolute left-2 top-2 text-white">
    Login
  </h1>
  <div>
    <form class="grid bg-white w-10/12 h-[40vh] mx-auto rounded relative" onsubmit="validate(logIn); return false ">

      <div class="grid p-[1vw]">
        <p id="error_message" class="error_p">Your email or password might wrong please retry</p>

        <label for="user_email">Email</label>
        <input type="text" name="user_email" placeholder="email" value="{{get('user_email', '')}}"
          class="p-[1vw] rounded bg-gray-500 bg-opacity-40" data-validate="email">
      </div>


      <div class="grid p-[1vw]">

        <label for="user_password">Password</label>
        <input type="password" name="user_password" placeholder="password"
          class="p-[1vw] rounded bg-gray-500 bg-opacity-40" data-validate="str" data-min="6" data-max="50">
      </div>
      <button class="font-semibold bg-gray-400   bg-opacity-25 mt-[2vh]  w-full">Login</button>
    </form>
  </div>
</main>
% include("footer")