% for session in sessions :
% if session["user_id"] == "admin1" :
% include("header" , page_title=" - Home" , admin_link ="yes")
% else :
% include("header" , page_title=" - Home" , admin_link ="no")
% end
% end

% if not sessions :
% include("header" , page_title=" - Home" , admin_link ="no")
% end
<main class="h-[90vh] w-5/12 mx-auto bg-black relative pt-[5vw]">
  <h1 class="text-[2vw] absolute left-2 top-2 text-white ">
    Signup
  </h1>
  <div>
    <form class=" grid mx-auto h-[40vh] w-5/6 bg-white  rounded-md" onsubmit="validate(signUp); return false ">
      <div class="grid h-20  p-[1vw]">
        <label for="user_name">Full name</label>
        <input type="text" name="user_name" id="user_name" placeholder="Full name"
          class="bg-gray-400 bg-opacity-40 rounded pl-[0.5vw] h-[5vh] placeholder-gray-500" data-validate="str"
          data-min="1" data-max="50">
      </div>

      <div class="grid h-20 p-[1vw]">
        <label for="user_email">Email</label>
        <input type="text" name="user_email" id="user_email" placeholder="email"
          class="bg-gray-400 bg-opacity-40 rounded pl-[0.5vw] h-[5vh] placeholder-gray-500" data-validate="email">
      </div>

      <div class="grid h-20 p-[1vw]">
        <label for="user_password">Password</label>
        <input type="text" name="user_password" id="user_password" placeholder="password"
          class="bg-gray-400 bg-opacity-40 rounded pl-[0.5vw] h-[5vh] placeholder-gray-500" data-validate="str"
          data-min="6" data-max="50">
      </div>

      <button class="font-semibold bg-gray-400   bg-opacity-25 mt-[2vh]  w-full" type="submit">Sign up </button>
    </form>
  </div>
</main>
% include("footer")