% include("header" , page_title=" - Signup")

<main class="text-white h-[85vh] w-5/12 mx-auto bg-black relative pt-[5vw]">
  <h1 class="text-[2vw] absolute left-2 top-2">
    Signup
  </h1>
  <div>
    <form class=" grid mx-auto h-[40vh] w-5/6">
      <div>
        <label for="user-name">Full name</label>
        <input type="text" name="user_name" placeholder="Full name">
      </div>

      <div>
        <label for="user-email">Email</label>
        <input type="text" name="user_email" placeholder="email">
      </div>

      <div>
        <label for="user-password">Password</label>
        <input type="text" name="user_password" placeholder="password">
      </div>

      <button>Sign up </button>
    </form>
  </div>
</main>
% include("footer")