% if user_id == "admin1" :
% include("header" , page_title=" - Home" , admin_link ="yes")
% else :
% include("header" , page_title=" - Home" , admin_link ="no")
% end
<main class=" h-[90vh] w-5/12 mx-auto bg-black relative  overflow-y-scroll">
  <h1 class="text-white pt-[2vw] pb-[2vw] ">Fake Tweets</h1>
  <div>
    <div id="createMain">
      <form onsubmit="validate(sendTweet); return false  "
        class="grid bg-white w-10/12 h-[30vh] mx-auto rounded relative">
        <div class="p-[1vw] grid">
          <label for="tweet_description">Tweet</label>
          <textarea class="p-[1vw] rounded-sm bg-gray-500 bg-opacity-40" name="tweet_description" id="tweet_description"
            cols="30" rows="4" placeholder="What is in your mind ?" data-validate="str" data-min="1" data-max="150"
            class="bg-gray-400 bg-opacity-40 rounded pl-[0.5vw] h-[5vh] placeholder-gray-500"></textarea>
        </div>
        <div class="grid absolute left-[1vw] bottom-[3vw]">
          <label for="input_image" class="cursor-pointer w-[10vw]">Pick image ?</label>
          <input type="file" id="input_image" name="tweet_image" accept="image" class="hidden">
        </div>

        <input type="reset" class="absolute right-[1vw] bottom-[3vw] cursor-pointer">

        <button class="font-semibold bg-gray-400 h-[2vw]  bg-opacity-25 mt-[2vh] place-self-end w-full">Create</button>
      </form>
    </div>

    <div id="tweets">
      % for tweet in tweets:
      % if user_id == tweet["user_id"]:
      % if not tweet["image"] :
      <section class="tweet" id="{{tweet['id']}}">
        <p>@{{tweet["user_name"]}}</p>
        <p class="Tweet_time">{{tweet["iat"]}}</p>
        <p>{{tweet["description"]}} </p>
        <article>
          <button onclick="delete_tweet(`{{tweet['id']}}`)">🗑️</button>
          <button onclick="openModuleUpdate(`{{tweet['id']}}`,'false' , `{{tweet['description']}}` )">✏️</button>
        </article>
      </section>

      % else :
      <section class="tweet">
        <p>@{{tweet["user_name"]}}</p>
        <p class="Tweet_time">{{tweet["iat"]}}</p>
        <p>{{tweet["description"]}} </p>
        <article>
          <button onclick="delete_tweet(`{{tweet['id']}}`)">🗑️</button>
          <button
            onclick="openModuleUpdate(`{{tweet['id']}}`,'true' , `{{tweet['description']}}` ,`/image/{{tweet['image']}}` )">✏️</button>
        </article>
        <img src="/image/{{tweet['image']}}" alt="">
      </section>
      % end
      % end
      % end



    </div>
  </div>
  </div>


</main>

<div id="updating_module" class="fixed bg-black bg-opacity-30 w-full h-full top-0 hidden">
  <div id="close_update" class="absolute top-[15.5vw]  right-[25.5vw] cursor-pointer">❌</div>
  <form onsubmit="validate(updateTweet); return false  "
    class="w-6/12 mx-auto bg-white rounded-lg h-auto mt-[15vw] grid">
    <div id="tweet_id_div" class="hidden">
      <input type="text" name="tweet_id">
    </div>
    <div class="grid p-[1vw]">
      <label for="tweet_text_updator">Tweet Text</label>
      <input type="text" name="tweet_text_updator" id="tweet_text_updator" data-validate="str" data-min="1"
        data-max="150" class="bg-gray-400 bg-opacity-40 rounded pl-[0.5vw] h-[5vh] placeholder-gray-500">
    </div>
    <div id="image_updating_div" class="hidden p-[1vw]">
      <img src="" alt="" class="w-[10vw] h-auto">
      <label for="check_delete_image">Want to remove this image ?</label>
      <input type="checkbox" name="check_delete_image" id="check_delete_image">
    </div>
    <button class="font-semibold bg-gray-400  bg-opacity-25 mt-[2vh]  w-full">Update</button>

  </form>

</div>


% include("footer")