% include("header" , page_title=" - Users")

<main class="text-white h-[90vh] w-5/12 mx-auto bg-black relative">
  <h1 class="text-[2vw] absolute left-[-11vw] top-2">
    See the users
  </h1>
  <div class=" p-[1vw] pt-[5vw] h-full overflow-y-scroll">
    % for user in users :
    <div id="{{user['id']}}" class="bg-purple-500  bg-opacity-25 rounded-lg mt-[5vw]">
      <p>@{{user["name"]}}</p>
      <div>
        tweets:
        % for tweet in tweets:
        % if user["id"] == tweet["user_id"]:
        % if not tweet["image"] :
        <section class="tweet" id="{{tweet['id']}}">
          <p class="Tweet_time">{{tweet["iat"]}}</p>
          <p>{{tweet["description"]}} </p>
        </section>

        % else :
        <section class="tweet">
          <p class="Tweet_time">{{tweet["iat"]}}</p>
          <p>{{tweet["description"]}} </p>
          <img src="/image/{{tweet['image']}}" alt="">
        </section>
        % end
        % end
        % end

      </div>
    </div>
    % end
  </div>
</main>
% include("footer")